
.my-card {
    display: block;
    /*background-color: #d58e32;*/
    width: 45px;
    height: 43px;
    margin: 0;

}

.my-card img {
    /*width: 20px;*/
    /*height: 18px;*/
    padding: 14px;
    background-color: #d58e32;


}

.my-card-items-count {
    width: 25px;
    height: 26px;
    margin: -10px;
}

.number-tel {
    font-family: 'Poppins', sans-serif;

}

.icon-tel {
    display: none;
}

@media only screen and (min-width: 768px) {
    .icon-tel {
        display: block;

    }

}

/*.............................modal window...............................*/
.modal-wrapper-empty {
    background-color: #666c75;
    padding: 37px;
}

.modal-body-class-empty {
    background-color: white;
    width: 70%;
    margin: 0 auto;
    position: relative;
    padding: 46px 20px;
    font-family: 'Poppins', sans-serif;

}

.modal-window-header {
    padding: 0 8px;
    color: #939393;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    font-family: 'Poppins', sans-serif;

}

.modal-window-text {
    font-size: 20px;
    color: #939393;
    font-family: 'Poppins', sans-serif;
    padding: 10px;


}

.modal-window-cross {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #1a1a1a;
    color: white;
    width: 41px;
    height: 37px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

@media only screen and (min-width: 780px) {
    .modal-body-class-empty {
        width: 95%;
        padding: 46px 0;

    }
}

/*.................modal-window-full-card...................*/
.modal-wrapper-full {
    background-color: #666c75;
    padding: 27px;
}

.modal-body-class {
    position: relative;
    padding: 46px 20px;
}

.modal-window-full-card-product {
    border: 1px solid #cecece;
    font-family: 'Poppins', sans-serif;

}

.modal-window-full-product-title {
    font-size: 20px;
}

.modal-window-full-product-price {
    width: 104px;
    height: 36px;
    padding: 5px;
    box-sizing: border-box;
    margin: 0;
    font-size: 15px;
}

.modal-window-full-product-price-through {
    text-decoration: line-through;
    color: #cecece;
}

.modal-window-full-product-price-actually {
    width: 104px;
    height: 36px;
    color: white;
    box-sizing: border-box;
    background-color: #1a1a1a;
    font-size: 18px;
}

.modal-window-full-product-quantity {
    color: #1a1a1a;
    font-size: 14px;
    height: 37px;
}

.modal-window-full-card-count {
    width: 73px;
    height: 37px;
    padding: 5px;
}

.modal-window-full-card-count-plus {
    width: 40px;
    height: 37px;
    color: #d58e32;
    border: 1px solid #d58e32;
    padding: 5px;

}

.modal-window-full-card-count-minus {
    width: 40px;
    height: 37px;
    padding: 5px;


}

.modal-window-full-card-sum {
    color: #cecece;
    height: 22px;
    /*padding: 5px;*/
    margin-top: -28px;

}

.modal-window-full-card-general-sum {
    font-size: 16px;
    height: 22px;
}

.b {
    border: 1px solid black;
    margin-top: -10px;


}

.btn-modal-continue {
    font-size: 11px;
    font-family: 'Poppins', sans-serif;

}

.btn-modal-buy {
    background-color: #d58e32;
    font-size: 11px;
    font-family: 'Poppins', sans-serif;
}

.modal-total-quantity-and-sum {
    justify-content: space-between;
}

.a {
    padding: 20px 0;

}

@media only screen and (min-width: 768px) {
    .modal-window-full-product-price-block {
        display: flex;
    }

    .modal-dialog {
        max-width: 700px;
        margin: 0 auto;
    }

    .modal-wrapper-full {

        padding: 27px 50px;
    }

    .modal-window-full-product-quantity-block {
        display: flex;
    }
}

@media only screen and (min-width: 990px) {
    .a {
        display: flex;
        /*padding: 20px 0;*/
    }

    .modal-dialog {
        max-width: 1000px;
        margin: 0 auto;
    }

    .modal-total-quantity-and-sum {
        justify-content: center;
    !important;
    }
}


/*.................modal-window-full-card END...................*/
/*____________________navigation*/
.navigation {
    height: 85px;
    padding: 15px 0;
    /*position: relative;*/
    margin: 0 0 8px 0;
    box-shadow: 0 2px 6px 0 rgba(158, 155, 158, 1);
}

.ab {
    position: relative;
    height: 85px;


}

/*...............search...................*/
#custom-search-input {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    border: 1px solid black;
}

#custom-search-input .search-query {
    width: 100%;
    padding-right: 3px;
    padding-left: 15px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    right: 0;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: black;
    cursor: unset;
    z-index: 2;
}

.search-query:focus {
    z-index: 0;
}

/*...........search ended..........*/
/*...........menu...............*/

.menu-position {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    /*left:0;*/
    /*top: 0;*/
    z-index: 1030;
}
.icon-bar{
    color: black !important;

}

.navbar-toggler {
    border: none;
    background: transparent !important;
}

.navbar-toggler:focus {
    outline: none;
    background: transparent !important;
}

.navbar-toggler .icon-bar {
    background-color: black;
    transform: rotate(0deg) translate(0px, 0px);
    transition: ease all .2s;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
    width: 22px;
    transition: ease all .2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
    width: 22px;
    /*transition: ease all .2s;*/
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 4px);
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
    opacity: 0;
    transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
    transform: rotate(-45deg) translate(4px, -4px);
    transition: ease all .2s;
}

/*.sec-accent {*/
    /*background-color: #fafcf5;*/
/*}*/

/*.blue {*/
    /*background-color: #9999cc;*/
/*}*/

/* small-gutters Class Rules */
.row.small-gutters {
    margin-right: -10px;
    margin-left: -10px;
}

.row.small-gutters > [class^="col-"],
.row.small-gutters > [class*=" col-"] {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*....................menu ended.......................*/
/*................carousel.............*/
.carousel-icon:hover {
    background-color: #d58e32;
    /*border: 1px solid red;*/

}

.carousel-icon {
    position: relative;
    top: -20px;
    width: 50%;
    height: 7%;
    padding-left: 5%;
    background-color: black;
    /*margin-top: 93%;*/
    /*margin-left: 13.5%;*/
}

.carousel-icon-2 {
    left: 50%;
    top: -40px;
}

.img-carousel-wrapper {
    height: 466px;
    background-image: url("../img/top-slider/2.jpg");
    background-position: center;
    /*background-size: cover;*/
    /*overflow: hidden;*/
    background-attachment: fixed;
}

.img-carousel-wrapper-2 {
    background-image: url("../img/top-slider/1.jpg");

}

/*.........................carousel-shop-window..............*/
.carousel-shop-window {
    font-family: 'Poppins', sans-serif;
    padding: 20px 0;
    margin: 127px 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.carousel-shop-window-title {
    font-size: 36px;

}

.carousel-shop-window-btn {
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
    background-color: white;

}

/*...................carousel-shop-window ended...........................*/
/*.............................features...............................*/
.features {
    padding-top: 20px;
}

.features-item-wrapper {
    position: relative;
    padding: 20px 0 50px 0;
}

.features-item-icon {
    position: absolute;
    left: 42%;
    bottom: 144px;
    border: 1px solid black;
    width: 76px;
    height: 76px;
    background-color: white;
    padding-top: 3px;

}

.features-item-icon i {
    width: 62px;
    height: 62px;
    border: 1px solid black;
    font-size: 26px;
    text-align: center;
    margin-top: 3px;
    box-sizing: border-box;
    padding: 16px 0;
    background-color: white;
    /*left: 20px;*/
}

.features-item {
    /*position: relative;*/
    margin: 0 auto;
    width: 260px;
    text-align: center;
    padding-top: 2px;
    /*border: 1px solid red;*/
    /*margin-bottom: 20px;*/
}

.features-item-text {
    font-family: 'Poppins', sans-serif;
    border: 1px solid #b7b7b7;
    width: 260px;
    height: 121px;
    margin: 0 auto;
    padding: 33px 0;
}

.features-item:hover > .features-item-icon > i {
    background-color: #d58e32;
    color: white;
    border: 1px solid #d58e32;

}

.features-item:hover > .features-item-text {
    color: #e0a38e;
}

.features-item:hover > .features-item-icon {
    border: 1px solid #d58e32;
}